In [6]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [19]:
austin_file_path = os.path.join("weather_data_austin_2010.csv")
df = pd.read_csv(austin_file_path, sep = ",", parse_dates = True, index_col= "Date")

In [20]:
df.head()

                     Temperature  DewPoint  Pressure
Date
2010-01-01 00:00:00         46.2      37.5       1.0
2010-01-01 01:00:00         44.6      37.1       1.0
2010-01-01 02:00:00         44.1      36.9       1.0
2010-01-01 03:00:00         43.8      36.9       1.0
2010-01-01 04:00:00         43.5      36.8       1.0

In [42]:
austin_file_path2 = os.path.join("NOAA_QCLCD_2011_hourly_13904.txt")
df1 = pd.read_csv(austin_file_path2, sep=",", header= None)
df1.columns= ['Wban', 'date', 'Time', 'StationType', 'sky_condition', 'sky_conditionFlag', 'visibility', 
              'visibilityFlag', 'wx_and_obst_to_vision', 'wx_and_obst_to_visionFlag', 'dry_bulb_faren', 
              'dry_bulb_farenFlag', 'dry_bulb_cel', 'dry_bulb_celFlag', 'wet_bulb_faren', 'wet_bulb_farenFlag', 
              'wet_bulb_cel', 'wet_bulb_celFlag', 'dew_point_faren', 'dew_point_farenFlag', 'dew_point_cel', 
              'dew_point_celFlag', 'relative_humidity', 'relative_humidityFlag', 'wind_speed', 'wind_speedFlag', 
              'wind_direction', 'wind_directionFlag', 'value_for_wind_character', 'value_for_wind_characterFlag', 
              'station_pressure', 'station_pressureFlag', 'pressure_tendency', 'pressure_tendencyFlag', 
              'presschange', 'presschangeFlag', 'sea_level_pressure', 'sea_level_pressureFlag','record_type', 
              'hourly_precip','hourly_precipFlag', 'altimeter', 'altimeterFlag', 'junk']
df1.head()

,Wban,date,Time,StationType,sky_condition,sky_conditionFlag,visibility,visibilityFlag,wx_and_obst_to_vision,wx_and_obst_to_visionFlag,...,presschange,presschangeFlag,sea_level_pressure,sea_level_pressureFlag,record_type,hourly_precip,hourly_precipFlag,altimeter,altimeterFlag,junk
0,13904,20110101,53,12,OVC045,,10.00,,,,...,,,29.95,,AA,,,,29.95,
1,13904,20110101,153,12,OVC049,,10.00,,,,...,,,30.01,,AA,,,,30.02,
2,13904,20110101,253,12,OVC060,,10.00,,,,...,030,,30.01,,AA,,,,30.02,
3,13904,20110101,353,12,OVC065,,10.00,,,,...,,,30.03,,AA,,,,30.04,
4,13904,20110101,453,12,BKN070,,10.00,,,,...,,,30.04,,AA,,,,30.04,

In [45]:
list_to_drop = ['sky_conditionFlag', 'visibilityFlag', 'wx_and_obst_to_vision', 'wx_and_obst_to_visionFlag', 
                'dry_bulb_farenFlag', 'dry_bulb_celFlag', 'wet_bulb_farenFlag', 'wet_bulb_celFlag', 
                'dew_point_farenFlag', 'dew_point_celFlag', 'relative_humidityFlag', 'wind_speedFlag', 
                'wind_directionFlag', 'value_for_wind_character', 'value_for_wind_characterFlag', 
                'station_pressureFlag','pressure_tendencyFlag', 'pressure_tendency', 'presschange',
                'presschangeFlag', 'sea_level_pressureFlag','hourly_precip','hourly_precipFlag', 'altimeter', 
                'record_type', 'altimeterFlag', 'junk']
df1.drop(list_to_drop, axis=1, inplace= True)

In [48]:
df1.head()

,Wban,date,Time,StationType,sky_condition,visibility,dry_bulb_faren,dry_bulb_cel,wet_bulb_faren,wet_bulb_cel,dew_point_faren,dew_point_cel,relative_humidity,wind_speed,wind_direction,station_pressure,sea_level_pressure
0,13904,20110101,53,12,OVC045,10.00,51,10.6,38,3.1,15,-9.4,24,15,360,29.42,29.95
1,13904,20110101,153,12,OVC049,10.00,51,10.6,37,3.0,14,-10.0,23,10,340,29.49,30.01
2,13904,20110101,253,12,OVC060,10.00,51,10.6,37,2.9,13,-10.6,22,15,010,29.49,30.01
3,13904,20110101,353,12,OVC065,10.00,50,10.0,38,3.1,17,-8.3,27,7,350,29.51,30.03
4,13904,20110101,453,12,BKN070,10.00,50,10.0,37,2.8,15,-9.4,25,11,020,29.51,30.04

In [ ]:
df1.date = df1.date.astype(str)
df1.time = df1.time.apply(lambda x: "{:0>4}".format(x))
date_string = df1.date + df1.time
# Convert the date_string Series to datetime: date_times
date_times = pd.to_datetime(date_string, format='%Y%m%d%H%M')

# Set the index to be the new date_times container: df_clean
df_clean = df_dropped.set_index(date_times)

# Print the output of df_clean.head()
print(df_clean.head())